<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SystemsManagementTestSuite" thread-count="5"
	parallel="false">

	<listeners>
		<listener class-name="com.toshibaGCS.SystemManagement.framework.TestSuiteListener" />
		<listener class-name="com.toshibaGCS.SystemManagement.framework.TestExecutionListener" />
		<listener class-name="com.toshibaGCS.SystemManagement.framework.ExtentReportsListener" />
	</listeners>

	<test name="LandingZone_Automation" preserve-order="true">
		<groups> 
			<run>
			    <include name="DemoTest" />
				<exclude name="Landing-Zone" /> 
				<exclude name="Cloud-Forwarder" />
			</run> 
		</groups>
		<packages>
			<package name="com.toshibaGCS.SystemManagement.framework" />
			<package name="com.toshibaGCS.SystemManagement.tests.CloudForwarder" />
			<package name="com.toshibaGCS.SystemManagement.tests.LandingZone" />
		</packages>		
	</test>	
</suite>
