<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="JMeterTestSuite" thread-count="5"
	parallel="false">

	<listeners>
		<listener class-name="com.skv.JMeterAutomation.framework.TestSuiteListener" />
		<listener class-name="com.skv.JMeterAutomation.framework.TestExecutionListener" />
		<listener class-name="com.skv.JMeterAutomation.framework.ExtentReportsListener" />
	</listeners>

	<test name="DemoTests" preserve-order="true">
		<groups> 
			<run>
			    <include name="DemoTest" />
				<exclude name="SampleTest" /> 
			</run> 
		</groups>
		<packages>
			<package name="com.skv.JMeterAutomation.framework" />
			<package name="com.skv.JMeterAutomation.tests.DemoScripts" />
			<package name="com.skv.JMeterAutomation.tests.TestScripts" />
		</packages>		
	</test>	
</suite>
